@charset "ISO-8859-1";
*{
  padding: 0;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
  
}

.container{

	
	width: 100%;
	height:100vh;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/img/bg.jpg);
	background-position: center;
	background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}



#welcome button.active,#welcome button:hover{
    background: #7c7d7e;
    transition: .5s;
}


.row{
    display: flex;
    height: 88%;
    align-items: center;

}

.col{
    flex-basis: 50%;
}

h1{
    color: #fff;
    font-size: 100px;
}
p{
    color: #fff;
    font-size: 15px;
    line-height: 15px;
}

#welcome{
    right: 10%;
    top: 35%;
    position: absolute;
}

button{
    width: 180px;
    font-size: 12px;
    color:black;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;

}

.cardS{
    width: 200px;
    height: 240px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;

}
.cardL{
    width: 400px;
    height: 150px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;

}

.card1{
    
    background-image: url(/img/a.jpg);
    padding: 0 25px;
    margin-bottom: 0;

}

.card2{
    background-image: url(/img/b.jpg);

}

.card3{
    
    background-image: url(/img/c.png);

}

.card4{
    background-image: url(/img/d.png);

}

.cardS:hover,.cardL:hover{
    transform:translateY(-10px);

}

.cardL h2,.cardS h2{
    color:rgba(0,0,0,0.7);
    text-shadow: 0 0 5px #999;
}

.cardL p{
    color:rgba(0,0,0,0.7);
    text-shadow: 0 0 15px #000;
    font-size: 11px;
    font-weight: bold;
    

}

.cardS p{
    
    text-shadow: 0 0 15px #000;
    font-size: 11px;
    font-weight: bold;
    

}


